body{
    background: #80B4E6;
    font-size: 62.5%;
    color: #fff;
}
.weather{
    height: 95vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 15rem;
    justify-items: center;
    align-content: center; 
}
.user_search{
    width: 30vw;
    font-size: 2rem;
    padding: .5rem 10rem;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: .01rem solid #000;
    outline: none;
    color:#fff;
}
 .output{
    width:30rem;
    padding: 1rem;
}
.weather_results{
    text-align: center;
}
.city{
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
}
.temp{
    font-size: 8rem;
}
.weather_details{
    display: flex;
    justify-content: space-around;
}
.weather_description{
    font-size: 2.5rem;
}
.weather_icon{
    height: 10rem;
}
.output hr{
  border: .05rem solid #fff;
}
.other > * {
    font-size: 1.5rem;
    text-align: right;
}
footer{
    font-size: .8rem;
    text-align: center;
}