body{
    height: 100vh;
    font-size: 62.5%;
    color:  #fff;
    background: linear-gradient(to bottom, #245A92, #649CD6 , #BBD4EE );

    
}
.weather{
    height: 95vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 15rem;
    justify-items: center;
    align-content: center; 
}
.search{
    width: 20rem;
    height: 2.5rem;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
    outline: none;
}
 .output{
    width:25rem;
}
.weather_results{
    text-align: center;
}
.city{
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
}
.temp{
    font-size: 7rem;
}
.weather_details{
    display: flex;
    justify-content: center;
}
.weather_description{
    font-size: 2.5rem;
    align-self: center;
}
.weather_icon{
    height: 10rem;
}
.output hr{
  border: .05rem solid #fff;
}
.other > * {
    font-size: 1.5rem;
    text-align: right;
}
.alert{
    font-size: 2.5rem;
}
footer{
    font-size: .8rem;
    text-align: center;
    color: #000;
}
